<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аптека</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <section class="main">
        <div class="container">
            <div class="main__content">
                <header class="header">
                    <div class="header__log">
                        <div class="header__logo">
                            Аптека
                        </div>

                        <div class="auto">
                            <h3 style="color: white; margin: 0;">
                                +380 97 888 52 31
                            </h3>
                            {% comment %} <a href="/login" class="login">
                                Вхід
                            </a> {% endcomment %}
                            {% comment %} <a href="/register" class="registr">
                                Реєстрація
                            </a> {% endcomment %}
                        </div>
                    </div>



                    <div class="header__info">
                        <form class="header__search" action="/">
                            <input type="search" name="search" placeholder="Пошук" value="{{search|default:""}}">
                            <button type="submit" />
                        </form>
                    </div>
                </header>
            </div>
        </div>
    </section>


    <section class="catalog" id="catalog">
        <div class="container">
            <div class="catalog__text">
                <div class="catalog__title">
                    Каталог товарів
                </div>
            </div>
            <div class="catalog__content">
                {% if search == None %}
                <div class="catalog__menu">
                    <ul class="catalog__list">
                        <li class="catalog__list-item">
                            <a href="#" class="catalog__list-link" data-tab="#tab_01">Лікарські засоби</a>
                        </li>
                        <li class="catalog__list-item">
                            <a href="#" class="catalog__list-link" data-tab="#tab_02">Краса і догляд</a>
                        </li>
                        <li class="catalog__list-item">
                            <a href="#" class="catalog__list-link" data-tab="#tab_03">Товари для дітей і мам</a>
                        </li>
                        <li class="catalog__list-item">
                            <a href="#" class="catalog__list-link" data-tab="#tab_04">Лікувально-косметичні засоби</a>
                        </li>
                        <li class="catalog__list-item">
                            <a href="#" class="catalog__list-link" data-tab="#tab_05">Вітаміни</a>
                        </li>
                        <li class="catalog__list-item">
                            <a href="#" class="catalog__list-link" data-tab="#tab_06">Товари для здоров'я</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
                <div class="catalog__tabs">
                    {% if search == None %}
                    {% for ty in '123456'|make_list %}
                    <div id="tab_0{{ty}}" class="catalog__tab">
                        {% for prod in products %}
                        {% if prod.type.id|slugify == ty  %}
                        <div class="catalog__item">
                            <div class="catalog__item-img">
                                <img src="{{prod.img}}" alt="">
                            </div>
                            <div class="catalog__item-title">
                                <span class="catalog__item-price">{{prod.price}} грн.</span>
                                <h2>{{prod.name}}</h2>
                            </div>
                            <div class="catalog__item-btn">
                                <a href="#">Замовити</a>
                            </div>
                            <span>
                                код: {{ prod.id|add:"123" }}
                            </span>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="catalog__tab active" style="display: flex">
                        {% for prod in products %}
                        {% if search|lower in prod.name|lower %}
                        <div class="catalog__item">
                            <div class="catalog__item-img">
                                <img src="{{prod.img}}" alt="">
                            </div>
                            <div class="catalog__item-title">
                                <span class="catalog__item-price">{{prod.price}} грн.</span>
                                <h2>{{prod.name}}</h2>
                            </div>
                            <div class="catalog__item-btn">
                                <a href="#">Замовити</a>
                            </div>
                            <span>
                                код: {{ prod.id|add:"123" }}
                            </span>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>

    <section class="reviews" id="reviews">
        <div class="container">
            <div class="rewiews__content">
                <div class="reviews__title">
                    Відгуки покупців
                </div>
                <div class="reviews__blog">
                    <div class="reviews__item">
                        <div class="reviews__item-img">
                            <img src="/static/img/anonim.png" alt="">
                        </div>
                        <div class="reviews__item-text">
                            <div class="reviews__item-title">
                                Імя Фамилия
                            </div>
                            <div class="reviews__item-pochta">
                                Пошта
                            </div>
                        </div>
                        <div class="reviews__item-info">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio commodi reiciendis
                            adipisci similique dolorem, quia explicabo, quam voluptatem, odit quos totam perferendis
                            ullam vitae deleniti aliquam id sapiente obcaecati voluptate.
                        </div>
                    </div>
                    <div class="reviews__item">
                        <div class="reviews__item-img">
                            <img src="/static/img/anonim.png" alt="">
                        </div>
                        <div class="reviews__item-text">
                            <div class="reviews__item-title">
                                Імя Фамилия
                            </div>
                        </div>
                        <div class="reviews__item-info">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio commodi reiciendis
                            adipisci similique dolorem, quia explicabo, quam voluptatem, odit quos totam perferendis
                            ullam vitae deleniti aliquam id sapiente obcaecati voluptate.
                        </div>
                    </div>

                </div>
                <div class="add-reviews">
                    <a href="#">Додати відгук</a>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="container">
            <div class="footer__content">
                <div class="footer__logo">
                    Аптека
                </div>
                <div class="footer__info">
                    <div class="footer__info-title">
                        Стежити за новинами <br> в соціальних мережах
                    </div>
                    <div class="footer__info-list">
                        <a href="#" class="fab fa-youtube"></a>
                        <a href="#" class="fab fa-viber"></a>
                        <a href="#" class="fab fa-telegram-plane"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="footer__about">
                    <a href="#catalog">
                        Каталог
                    </a>
                    <a href="#reviews">
                        Відгуки
                    </a>
                    <a href="#contacts">
                        Контакти
                    </a>

                </div>
            </div>

            <div class="footer__text">
                самолікування може бути шкідливим для вашого здоров'я
            </div>
        </div>
    </footer>

    <div class="catalog__model">
        <div class="catalog__model-title">
            За замовленням пишіть в меседжери
        </div>
        <div class="catalog__model-list">
            <a href="#" class="fab fa-viber"></a>
            <a href="#" class="fab fa-telegram-plane"></a>
            <a href="#" class="fab fa-instagram"></a>
        </div>
        <span class="catalog__close">
        </span>
    </div>

    <div class="reviews__model">
        <form action="" id="reviews">
            <p>
                <label for="name">Ім'я та Прізвище</label>
                <input type="text" name="name">
            </p>
            <p>
                <label for="reviews">Пошта</label>
                <input type="text" name="reviews">
            </p>
            <p>
                <textarea name="reviews" id="reviews-text"></textarea>
            </p>
            <button class="reviews__model-btn">
                Відправити
            </button>
            <span class="reviews__close">
            </span>
        </form>

    </div>




    <script src="https://kit.fontawesome.com/9acfd5e20b.js" crossorigin="anonymous"></script>
    <script src="/static/js/Tabs.js"></script>
    <script src="/static/js/model.js"></script>
</body>

</html>